User-agent: *
Disallow: /mw/
Disallow: /cgi-bin/
Disallow: /css/
Disallow: /fonts/
Disallow: /img/
Disallow: /js/
Disallow: /php/
Disallow: /vendor/
Disallow: /.well-known/
Disallow: /Special:Random

